rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /Pets/{petId} {
      allow read, create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
    }

    match /Cates/{cateId} {
      allow read: if true;
      allow write: if false;
    }
  }
}